@media only screen and (max-width: 1250px) {
    
    /*Header/Sidebar*/
    .header{
        background: rgba(255,255,255,0.95);
        display: -webkit-box;
        width: 100%;
        margin:0;
        left: 0;
        z-index: 2;
        padding:0 20px;
    }
    .header-logo img {
        height: 40px;
        margin-top: 5px;
    }
    .p-links-tab {
        display: none;
    }
    .section-links{
        margin: 0 auto;
    }
    .s-links-tab{
        position: static;
        margin: 0;
    }
    .s-links-tab li{
        display:inline-block
    }
    .s-links-tab li a{
        padding:15px 10px;
        font-size: 15px;
    }
    .s-links-tab li a img{
        display: none;
    }
    .s-links-tab li a span {
        margin: 0;
    }
    .hero-hire-me {
        //top: 0;
        //right: 0;
        padding:15px 50px 0 0;
        position: static;
    }
    .hire-me-btn {
        text-align: right;
    }
    .hire-me {
        padding: 10px 25px;
        border-radius: 7px;
        color: var(--primary-link);
        font-size: 15px;
        background: #F4EFFF;
    }
    
    /*Hero section*/
    
    .hero-section-container{
        text-align: center;
    }
    .hero-section{
        display:inline-block;
    }
    .hero-section-profile {
        padding-top: 100px;
    }
    .hero-section-profile-image {
        transform: rotateZ(0deg);
        margin-left: 0px;
    }
    .hero-section-profile-image > img {
        width: 175px;
        transform: rotateZ(-7deg);
    }
    .hero-section-intro {
        margin:0;
        padding:50px 50px 0;
        text-align: left;
    }
    
    .section-ending{
        padding: 50px 0 50px;
    }
    .handson-list, .testimonial-list{
        padding: 20px 0px 20px;
    }
    .handson-title, .hero-skills-title, .projects-title > h1, .testimonials-title, .connect-title{
        text-align: center;
    }
    .hero-skills-subtitle{
        padding: 20px 0px 0px;
    }
    /*Projects container*/
    .projects-container{
        padding-left: 0px;
    }
    .projects-title{
        padding:30px 0;
    }
    .projects-element-item{
        height: auto;
        width: auto;
    }
    .project-element-item-wrap{
        padding-top:56.25%;
    }
    .project-element-item-img{
        position: absolute;
        z-index: -2;
        top: 0;
    }
    
}

@media only screen and (max-width: 900px) {

    /*Header*/
    .header-logo{
        display: none;
    }
    .m-header-logo{
        display: block!important;
        padding:10px 0;
    }
    .m-header-logo > img{
        height: 25px;    
    }
    .s-links-tab li a{
        padding:15px 10px;
        font-size: 14px;
    }
}


@media only screen and (max-width: 900px) {
    .menu-bar-container{
        display: block;
        z-index: 4;
    }
    .header{
        display: none;
    }
    .m-header-logo, .hero-hire-me{
        display: none!important;
    }
    .section-links{
        position: fixed;
        bottom: 75px;
        left: 20px;
    }
    .s-links-tab > li{
        display: inline;
    }
    .s-links-tab > li > a {
        display: block;
        background: rgba(255,255,255,1);
        padding:5px 10px;
        border-radius: 50px;
        margin:10px 0;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        opacity: 1;
        font-size: 17px;
    }
}


@media only screen and (max-width: 800px) {
    
    .project-element-item-wrap, .info-right{
        text-align: center;
    }
    
    .project-element-item-overlay{
        transform: rotate(0deg);
        top: auto;
        left: 0;
        height: 10%;
        bottom: 0;
    }
    
    .project-element-item-info > br{
        display: none;
    }
    
    .project-element-item-info{
        max-width: 100%;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        line-height: normal;
        font-size: 100%;
    }
    
    .project-element-item-img{
        background-position: center;
    }
    .project-element-item-img:hover{
        background-position: center;
    }
    
    .project-element-item-wrap:hover > .project-element-item-img{
        background-position: center;
    }
    
    .item-img-1 {
        background-image: url(images//sample2-mob.png);
    }

    .item-img-2 {
        background-image: url(images/sample1-mob.png);
    }

    .item-img-3 {
        background-image: url(images//sample3-mob.png);
    }

    .item-img-4 {
        background-image: url(images//sample4-mob.png);
    }
    
    /*Skills Section*/
    
    .hero-skills-subtitle > h2{
        text-align: center;
    }
    
}